html, body {
  height: 100%;
  width: 100%;
  min-width: 300px;
}

body {
  background: #fff;
  color: #363636;
  font: 18px/30px "Arial", sans-serif;
}

p, div, span, a, ul, li {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ff5e5e;

  &:visited,
  &:active {
    color: #ff5e5e;
  }

  &:hover {
    opacity: 0.8;
  }
}

h1 {
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 2px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1.5px;
  margin: 20px 0;
}

code {
  width: 100%;
  min-width: 500px;
}

.title {
  text-align: center;
  margin-top: 40px;
}

.logo {
  height: 120px;
  margin-right: 20px;
}

.main {
  height: 100%;
  width: 100%;
  padding: 0 40%;
}

.status-container {
  position: fixed;
  top: 10px;
  left: 0;
  right: 20px;
  display: flex;
  justify-content: flex-end;
}

.status-container.low {
  top: 30px;
}

.status {
  color: grey;
  font-size: 14px;
  text-transform: uppercase;
}

.status-label {
  color: grey;
  font-size: 16px;
  margin-right: 10px
}

.status:after {
  content: "no connection";
}

.status:before {
  content: "😿 ";
}

.status.connected {
  color: green;
}

.status.connected:after {
  content: "connected";
}

.status.connected:before {
  content: "😉 ";
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: block;
  margin: 0;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

button:focus, input[type="text"]:focus {
  outline: none;
}

.btn {
  cursor: pointer;
  height: 40px;
  text-decoration: none;
  padding: 0 20px;
  text-align: center;
  background: #ff5e5e;
  transition: opacity 200ms;
  color: white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-top: 30px;
}

.btn:hover {
  opacity: 0.8;
}

.messages-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.labels-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.labels-container .label {
  text-align: center;
  font-weight: bold;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 160px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.messages .message .tag {
  color: #ff5e5e;
}

.messages .message .author {
  color: #4086f0;
}

.messages .message .timestamp {
  color: grey;
  font-size: 70%;
  text-align: right;
}

@media (max-width: 800px) and (min-width: 601px) {
  body {
    font-size: 3vw;
    line-height: 5vw;
  }

  .title {
    margin-top: 20px;
  }

  h1 {
    font-size: 10vw;
    line-height: 14vw;
    padding-left: 20vw;
  }

  .logo {
    height: 18vw;
    position: absolute;
    left: 20px;
  }

  h2 {
    font-size: 5vw;
    line-height: 7vw;
  }
}


@media (max-width: 600px) {
  body {
    font-size: 4vw;
    line-height: 6vw;
  }

  .title {
    margin-top: 20px;
  }

  h1 {
    font-size: 10vw;
    line-height: 14vw;
    padding-left: 20vw;
  }

  .logo {
    height: 18vw;
    position: absolute;
    left: 20px;
  }

  h2 {
    font-size: 10vw;
    line-height: 12vw;
  }
}
