doctype html
html
  head
    title Brainwashing 2017 | Evil Orders
    meta name="viewport" content="width=device-width"
    meta charset="UTF-8"
    link rel="stylesheet" href="/app.css"
  body
    .header
      h1.title
        | Brainwashing 2017
        | &nbsp;
        | |
        | &nbsp;
        | Evil Orders

    .container.main
      / - cache(["dashboard", @orders.all.maximum(:updated_at), @parcels.all.maximum(updated_at)]) do
      .labels-container
        .label Money turnover ($):
        .label = @orders.all.to_a.sum(&:total_cost)

      .labels-container
        .label Orders Stats (Count):
        .label = @orders.all.to_a.count

      .labels-container
        .label Paid Orders Stats (Count):
        .label = @orders.paid.to_a.count

      / - cache(@parcels.maximum(:updated_at) do
      .labels-container
        .label Ready Parcels Stats (Count):
        .label = @parcels.ready.to_a.count

      .labels-container
        .label Shipped Parcels Stats (Count):
        .label = @parcels.shipped.to_a.count

      .labels-container
        .label Delivered Parcels Stats (Count):
        .label = @parcels.to_a.count

      - if @orders.all.count.positive?
        .labels-container
          .label Latest Orders:
      - @orders.filtered.to_a.each do |order|
          .labels-container
            pre
              code = JSON.pretty_generate order.attributes


